

// Progress bar
.bar-container
    height: 15px
    width: 200px
    margin: 1px
    background: gray
    position:relative
    color:white

    .bar
        height: 15px
        //padding-left: 3px
        transition width 200ms

    span
        position: absolute
        font-size: 12px

    .red
        background: red
        color: white

    .blue
        background: blue
        color: white

    .brown
        background: brown
        color: white




button
    border: 2px solid rgba(255,255,255,0.5)
    color: white
    border-radius: 2px
    margin: 3px
    background: transparent
    height: 30px

    &:hover
        background: rgba(0,0,0,0.5)
        transition: 0.1s
        color: white
        cursor: pointer




// Menu actions
.action
    display: block
    width: 200px