/* CSS declarations go here */

body, html
    position:relative
    height:100%
    width:100%
    margin: 0
    padding: 0
    //background: black
    font-size: 12px
    font-family: 'Roboto', sans-serif
    font-smoothing: antialiased
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)

h4
    font-size: 17px
    margin: 5px 0



.loading-screen
    width: 100%
    height: 100%
    background: darkslategray
    position: relative

    h1
        width: 100%
        text-align: center
        top: 45%
        position:absolute
        color: white
        font-size: 50px

        .loading-icon
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

.screen
    position:relative
    height:100%
    width: 100%


.gui
    //width: 1200px
    background: silver
    margin: 0 auto
    overflow:hidden

    .gui-main
        box-sizing : border-box
        //width: 1180px
        min-height: 350px !important

    .gui-window, .gui-main
        min-height: 200px
        min-width: 200px
        padding: 10px
        margin: 10px
        background: white
        box-shadow: 0 0 3px 2px #ccc inset;



.ground
    position: absolute
    width:100%
    height:225px
    bottom:0
    background: url(ground.jpg) repeat 5% 5%
    box-shadow: inset 0px 10px 16px rgba(0,0,0,0.5), 0px -10px 34px rgba(0,0,0,0.5);

.ground-on
    position: absolute
    width:100%
    height:85px
    bottom:195px
    background: url(ground.jpg) repeat 5% 5%
    z-index: 5
    transform: rotateX(70deg);

    &:before
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0, 0.5);

.float
    overflow:hidden

.left
    float:left

.right
    float:right

ul
    list-style:none
    padding: 5px





@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}