

.combat
    width: 800px
    
    .combat-actions
        margin-top: 20px
        padding: 10px
        width: 250px
        

    .entity-info
        width: 90px
        
    .bars
        width: 150px
        .bar-container
            width:150px
            
    .party, .enemies, .log
        width: 240px
        padding: 10px
        min-height: 200px
        float:left

    .log
        width: 250px
        
        .combat-log
            margin-top: 10px
            overflow-y: auto
            max-height: 200px

        .combat-order
            background: lavender
            padding: 5px

            .turn-entry
                padding: 3px

            .turn-entry.active
                background: gray
                color:white

    .enemies
        .enemy
            overflow:hidden
            text-align: right

            b
                display:block

            .bar-container
                float:right
                .bar
                    position:absolute
                    right:0
                span
                    right:0