
.quest-log
    .quest-list
        .log-quest
            &:hover
                background: gray
                color: white
                cursor:pointer
            
            &.completed
                opacity: 0.5