
.blacksmith

    .forge
        padding: 5px

    .smelt, .ores
        padding:5px
        width: 200px

    .fire
        width: 100px
        height: 70px
        border: 2px solid black

        text-align: center
        padding-top: 30px

        transition background-color 2s

    [ore]
        padding: 3px

        &:hover
            background-color: gray
            cursor: pointer