<template name="blacksmith">
    <div class="blacksmith">
        <div>
            <b>Blacksmith</b>
        </div>

        {{#with blacksmith}}
        <div><i>{{ owner }}</i></div>
        <h4>{{welcome}}</h4>

        <p class="blacksmith-materials">
            {{#each materials}}
                {{{itemLink id}}}x{{qty}}
            {{/each}}
        </p>

        <p class="blacksmith-forge">
            <b>Weapon type</b><br>
            <div class="weapon-types">
                <button weptype="1hsword">1h Sword</button>
                <button weptype="2hsword">2h Sword</button>
                <button weptype="1haxe">1h Axe</button>
                <button weptype="2haxe">2h Axe</button>
            </div>

            <div class="anvil">
                <div class="crafting-tools">
                    <button class="hammer">Hammer</button>
                    <button class="heat">Heat up</button>
                    <button class="cool">Cool</button>
                </div>

                <div class="crafting-stats float">
                    <div class="left stat">Sharpness: {{forge "sharpness"}}</div>
                    <div class="left stat">Hardness: {{forge "hardness"}}</div>
                    <div class="left stat">Quality: {{forge "quality"}}</div>
                </div>

                <div class="crafted" style="{{ craftedStyle }}"></div>
            </div>
        </p>

        {{#if activeSchematic}}
        <p>
            <b>Craft</b><br>
            {{#with activeSchematic}}
                <b>{{labelify id}}</b>
                <div>Requires:
                    <div>
                    {{#each requires}}
                        {{{itemLink id}}}x{{qty}}
                    {{/each}}
                    </div>
                </div>

                <button class="craft">Craft</button>
            {{/with}}
        </p>
        {{/if}}

        <hr>

        <div class="blacksmith-smelter float">
            <div class="smelter left">
                <h3>Smelter</h3>
                <div class="fire">{{temp}}</div>

                {{#unless forgeLit}}
                <button class="ignite">Ignite</button>
                {{else}}
                <button class="heat">Heat up</button>
                {{/unless}}

            </div>
            <div class="ores left">
                <h3>Ores</h3>
                {{#each ores}}
                    <div ore="{{id}}">{{{itemLink id}}}x{{qty}}</div>
                {{/each}}
            </div>
            <div class="smelt left">
                <h3>Smelt</h3><br>

                <div class="bar-container">
                    <div class="bar red" style="width: {{floor smeltProgress}}%">
                        {{floor smeltProgress}}%
                    </div>
                </div>
                <div id="alloy-pie" class="smelt-alloy" style="width: 200px; height: 100px;">
                </div>
                {{#if activeOre}}
                    <b>{{activeOre}}</b>

                    <button class="smelt">Smelt</button>
                {{/if}}
            </div>
        </div>


        {{/with}}
    </div>
</template>