

.trade
    .your-offers, .trader-offers
        width: 200px
        margin: 5px
        padding: 5px
        background: #eee
        
    .add-item, .remove-item
        padding: 1px
        height: 15px
        line-height: 0