

<template name="city">
    <h4>City</h4>
    <div class="float">
        <div class="left city">
            <p>{{city.name}}</p>

            <div class="float">

                <button class="action left north" action="north">Visit inn</button>
                <button class="action left west" action="west">Walk the streets</button>
                <button class="action left east" action="east">Find a shop</button>
                <button class="action left south" action="south">Request audience with Duke</button>
                <button class="action left south" action="leave">Leave</button>
            </div>

        </div>
        <div class="left">
        </div>
    </div>
</template>

<template name="village">
    <h4>Village</h4>
    <div class="float">
        <div class="left city">
            <p>{{village.name}}</p>

            <div class="float">

                <button class="action left north" action="north">Visit inn</button>
                <button class="action left west" action="west">Walk the streets</button>
                <button class="action left east" action="east">Find a shop</button>
                <button class="action left south" action="south">Request audience with Duke</button>
                <button class="action left south" action="leave">Leave</button>
            </div>

        </div>
        <div class="left">
        </div>
    </div>
</template>