

<template name="town">
    <h4>{{town.type}}</h4>
    <div class="float town">
        <div class="left">
            <p>{{town.name}}</p>

            <div class="float">

                {{#if townStatus "navigation"}}
                    <button class="action north" action="inn">Visit inn</button>
                    <button class="action west" action="walk">Walk the streets</button>
                    {{#if shops}}
                        <button class="action east" action="shops">Find a shop</button>
                    {{/if}}
                    <button class="action south" action="south">Request audience with Duke</button>

                    {{#if canAct}}
                    <button class="action south" action="leave">Leave</button>
                    {{/if}}
                {{/if}}

                {{#if townStatus "shops"}}
                    {{#each addIndex shops}}
                        <button class="action shop" shopid="{{index}}" action="shop">{{labelify id}}</button>
                    {{/each}}
                    <button class="action" action="navigation">&#8617;</button>
                {{/if}}

                {{#if townStatus "shop"}}
                    <div>{{ shop.owner }}</div>
                    <div>{{ shop.welcome }}</div>
                    <button class="action" action="navigation">&#8617;</button>
                {{/if}}

                {{#if townStatus "inn"}}
                    <div>{{ inn.owner }}</div>
                    <div>{{ inn.welcome }}</div>
                    <button class="action" action="room">Rent a room for the night</button>
                    <button class="action" action="buyDrink">Buy a drink</button>
                    <button class="action" action="rumor">Ask for rumors</button>
                    <button class="action" action="jobs">Find jobs</button>
                    <button class="action" action="navigation">&#8617;</button>
                {{/if}}
            </div>

        </div>
        {{#if townStatus "shop"}}
        <div class="left shop">
            <div class="float">
                {{#each items}}
                    <div class="shop-item" itemid="{{id}}">
                        <div>{{{ el }}}</div>
                        <input class="amount" placeholder="Amount">

                        <button class="buy">Buy ({{sell}})</button>
                        <button class="sell">Sell ({{buy}})</button>
                    </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</template>

