
<template name="ui">

<div class="gui float {{bgClasses}}">
    <div class="gui-nav left">
        {{#if userStatus "camping"}}
            {{> camping}}
        {{/if}}

        {{#if userStatus "navigation"}}
            {{> navigation}}
        {{/if}}

        {{#if userStatus "town"}}
            {{> townNav}}
        {{/if}}

        {{#if userStatus "battle"}}
            {{> uiBattle}}
        {{/if}}

        {{#if userStatus "combat"}}
            {{> combatNav}}
        {{/if}}

        {{#if userStatus "travelling"}}
            {{> travel}}
        {{/if}}
    </div>

    <div class="gui-main left ">

        {{#if userStatus "combat"}}
            {{> combat}}
        {{/if}}

        {{#if userStatus "town"}}
            {{> town}}
        {{/if}}


        <!-- Crafting -->

        {{#if userStatus "cooking"}}
            {{> cooking}}
        {{/if}}

        {{#if session "characterToggled"}}
            <div class="left gui-window">
                {{> uiCharacter}}
            </div>
        {{/if}}

        {{#if session "playersToggled"}}
            <div class="left gui-window">
                {{>players}}
            </div>
        {{/if}}

        {{#if session "inventoryToggled"}}
            <div class="left gui-window">
                {{> storage}}
            </div>
        {{/if}}

        {{#if session "questLogToggled"}}
            <div class="left gui-window">
                {{> questLog}}
            </div>
        {{/if}}

        {{#if session "equipmentToggled"}}
            <div class="left gui-window">
                {{> equipment}}
            </div>
        {{/if}}

        {{#if session "tradeToggled"}}
            <div class="left gui-window">
                {{> trade}}
            </div>
        {{/if}}

        {{#if session "booksToggled"}}
            <div class="left gui-window">
                {{> uiBooks}}
            </div>
        {{/if}}

    </div>
    <div class="left gui-chat">
        {{>chat}}
    </div>


    {{> menu}}
</div>
</template>
