
<template name="ui">
    <div class="gui-main">
        <p>User status: {{session "userStatus"}}</p>

        {{#if userStatus "camping"}}
            {{> camping}}
        {{/if}}

        {{#if userStatus "navigation"}}
            {{> navigation}}
        {{/if}}

        {{#if userStatus "town"}}
            {{> town}}
        {{/if}}

        {{#if userStatus "battle"}}
            {{> uiBattle}}
        {{/if}}

        {{#if userStatus "combat"}}
            {{> combat}}
        {{/if}}

        {{#if userStatus "travelling"}}
            {{> travel}}
        {{/if}}

        <!-- Crafting -->

        {{#if userStatus "cooking"}}
            {{> cooking}}
        {{/if}}

    </div>
    <div class="float">
        <div class="left gui-window">
            {{>players}}
        </div>
        <div class="left gui-window">
            {{>chat}}
        </div>
        <div class="left gui-window">
            {{> uiCharacter}}
        </div>
        <div class="left gui-window">
            {{> storage}}
        </div>

        <div class="left gui-window">
            {{> trade}}
        </div>

        <div class="left gui-window">
            {{> equipment}}
        </div>

        <div class="left gui-window">
            {{> questLog}}
        </div>

        {{#if camping}}
        <div class="left gui-window">
            {{> uiBooks}}
        </div>
        {{/if}}

    </div>
</template>
