



<template name="user">
    <h4>Log in</h4>
    <div>
        <input id="email" placeholder="email">
        <input id="password" placeholder="Password">
        <button id="log-in">Log in</button>
    </div>

    <h4>Create user</h4>
    <div>
        <input type="text" id="new-email" placeholder="email">
        <input type="text" id="new-password" placeholder="Password">
        <input type="text" id="new-character" placeholder="Character name">
        <button id="create-user">Create</button>
    </div>
</template>
