<template name="uiWalking">
    <h4>Walking</h4>

     <div class="float">
        <div class="left walking">
            <p>Location: {{location}}</p>
            <p>{{encounter}}</p>
            <div class="float">

                {{#if travelling}}
                    Walking..
                    {{secsLeft}}
                {{else}}

                    {{#if walkingStatus "navigation"}}
                        <button class="action" action="areas">Areas</button>
                        <button class="action" action="villages">Villages</button>
                        <button class="action" action="cities">Cities</button>

                        {{#if inTown}}
                        <button class="action" action="town">Enter town</button>
                        {{else}}
                        <button class="action" action="camp">Make camp</button>
                        {{/if}}
                    {{/if}}

                    {{#if walkingStatus "areas"}}
                        {{#each areas}}
                            <button class="action" area="{{id}}">{{labelify id}}</button>
                        {{/each}}
                        <button class="action" action="navigation">&#8617;</button>
                    {{/if}}

                    {{#if walkingStatus "villages"}}
                        {{#each villages}}
                            <button class="action" village="{{id}}">{{labelify id}}</button>
                        {{/each}}
                        <button class="action" action="navigation">&#8617;</button>
                    {{/if}}

                    {{#if walkingStatus "cities"}}
                        {{#each cities}}
                            <button class="action" city="{{id}}">{{labelify id}}</button>
                        {{/each}}
                        <button class="action" action="navigation">&#8617;</button>
                    {{/if}}

                {{/if}}
            </div>
        </div>
    </div>
</template>
