<template name="uiWalking">
    <h4>Walking</h4>

     <div class="float">
        <div class="left walking">
            <p>Location: {{currentUser.location}}</p>
            <p>{{encounter}}</p>
            <div class="float">

                <button class="action left north" action="north">{{north}}</button>
                <button class="action left west" action="west">{{west}}</button>
                <button class="action left east" action="east">{{east}}</button>
                <button class="action left south" action="south">{{south}}</button>
            </div>

            {{#if biome "city"}}
            <button class="action" action="city">Enter city</button>
            {{else}}
                {{#if biome "village"}}
                <button class="action" action="village">Enter village</button>
                {{else}}
                <button class="action" action="camp">Make camp</button>
                {{/if}}
            {{/if}}
        </div>
        <div class="left">
            {{> map}}
        </div>
    </div>
</template>
