

.equipment-list
    li
        &:hover
            background: gray
            color: white
            cursor:pointer
            
.equipment
    &:hover
        background: gray
        color: white
        cursor:pointer